# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  win: circleci/windows@2.2.0


workflows:
  tests:
    jobs:
      - build-and-run

jobs:     
  build-and-run:
    executor:
      name: win/default
      shell: cmd.exe
    steps:
      - checkout
      - run: PUSHD tests 
      - run: run_varsall.bat
      - run: compile_win64.bat /t DEBUG
      - run: run_tests_win64.bat /t DEBUG
      - run: compile_win64.bat /t RELEASE
      - run: run_tests_win64.bat /t RELEASE 
      - run: POPD
