# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  win: circleci/windows@2.2.0


workflows:
  tests:
    jobs:
      - build-and-run-win64
      - build-and-run-linux64

jobs:     
  build-and-run-win64:
    executor:
      name: win/default
      shell: cmd.exe
    steps:
      - checkout
      - run:
          command: run_varsall.bat && compile_win64.bat /t DEBUG
          working_directory: ./tests
      - run: 
          command: run_tests_win64.bat /t DEBUG
          working_directory: ./tests
      - run: 
          command: run_varsall.bat && compile_win64.bat /t RELEASE
          working_directory: ./tests
      - run: 
          command: run_tests_win64.bat /t RELEASE
          working_directory: ./tests
  build-and-run-linux64:
    docker:
      - image: microblinkdev/clang-devenv:12.0.1 
    steps:
      - checkout
      - run:
          command: chmod +x compile_linux64.sh && ./compile_linux64.sh -t DEBUG
          working_directory: ./tests
      - run: 
          command: chmod +x run_tsts_linux64.sh && ./run_tests_linux64.sh -t DEBUG
          working_directory: ./tests
      - run:
          command: chmod +x compile_linux64.sh && ./compile_linux64.sh -t RELEASE
          working_directory: ./tests
      - run: 
          command: chmod +x run_tsts_linux64.sh && ./run_tests_linux64.sh -t RELEASE
          working_directory: ./tests

          
